:root {
    --bg: #00294e;
    --fg: #F4F2F3;
    --purple: #C46BAE;
    --greeny: #b3e19a;
    --bbdark: #262626;
}

* {
    font-family: "Poppins" !important;
}

#main-content, #main-content *:not(.guidance-overflow-wrapper) {
    background-color: var(--bg) !important;
    color: var(--fg);
}

.base-courses.multi-column-view.course-org-list div {
    border: 2px solid black;
    border-radius: 5px;
}

/* ADDITIVE CSS */
.date, .time {
    color: rgb(255, 139, 139) !important;
    font-size: 13px !important;
    font-weight: 400 !important;
}

/* Item title */
.context.ellipsis a, .context.ellipsis bdi, .context.ellipsis span {
    color: var(--greeny) !important;
    font-weight: 600 !important;
    font-size: 16px !important;
}

/* .context.ellipsis a:hover {
    text-decoration-color: var(--purple) !important;
} */


/* CORRECTIVE CSS */

.bb-inner-wrap>header, #side-menu {
    background-color: black !important;
    font-family: "Arial" !important;
}

h1.panel-title, #main-content h1, #main-content h1.panel-title {
    color: var(--greeny) !important;
}

/* Show All Button */
#filter-stream-value {
    color: var(--purple) !important;
}
.base-header .select-value:after {
    border-top-color: var(--purple) !important;
}

/* Hover over items css */
.base-recent-activity .activity-stream .activity-group .stream-item:hover:before {
    opacity: 0 !important;
}