:root {
    --bg: #00294e;
    --fg: #F4F2F3;
    --purple: #C46BAE;
    --greeny: #b3e19a;
    --lightpurple: #ead4e4
}

/* course tabs */
/* #learn-oe-body, #breadcrumbs, #contentPanel, .isUltra * {
    background-color: var(--bg) !important;
    color: var(--fg) !important;
} */

* {
    font-family: "Poppins" !important;
}

/* TOP header */
#breadcrumbs {
    background-color: var(--bg) !important;
}

#breadcrumbs span {
    color: var(--fg) !important;
}

#breadcrumbs #crumb_1 {
    color: var(--greeny) !important;
    font-size: 20px !important;
}

#contentPanel {
    background-color: var(--bg) !important;
}

/* Top header text */
#pageTitleText, #pageTitleDiv h1, #pageTitleHeader #pageTitleText span { 
    color: var(--lightpurple) !important;
    font-weight: 700 !important;
}

/* Main container */
.contentPane .shadow {
    border-top: 2px solid black !important;
}

#containerdiv {
    background-color: rgb(14, 14, 14) !important;
    border: 0 !important;
    border-radius: 10px !important;
    color: var(--fg) !important;
}

/* Each column */
.portlet.clearfix {
    border-radius: 5px !important;
    border: none !important;
    /* border: 1px solid black; */
    background-color: #d8d8d8;    
}

.portlet h2 {
    /* background-color: #f7f7f7 !important;
    color: var(--bg) !important; */
    font-size: 1.15 rem !important;
    background-color: var(--bbdark) !important;
    color: #c6d6ff !important;
}

.portlet h3 {
    color: var(--bg) !important;
}

/* Content List */
/* #content_listContainer li {

} */

.contentList > li {
    margin: 0 !important;
    border: none !important;
    border-bottom: 1px solid rgb(0, 114, 0) !important;
}

.liItem:hover {
    background-color: transparent !important;
    border-top: 1px solid #f9948e !important;
    border-bottom: 1px solid #f9948e !important;
    border-radius: 5px !important;
}

/* Content page links hover */
/* .liItem:hover span {
    text-decoration: underline !important;
} */

.u_floatThis-left {
    color: wheat !important;
}

.item h3 a span {
    color: #ffbcdd !important;
    font-size: 17px;
    text-decoration: none !important;
}

.vtbegenerated {
    color: white !important;
}

.announcementInfo p span, .announcementInfo span {
    color: var(--fg) !important;
    font-weight: bolder;
}

/* bg */
.locationPane {
    background-color: var(--bg) !important;
}

body {
    background-color: var(--bg) !important;
}

/* Side Menu */
/* rly difficult to change due to elearn's naturally important css */

/* #menuWrap, .menuWrap-inner, .navPaletteContent, .isUltra #courseMenuPalette div.navPaletteContent *, .isUltra #courseMenuPalette div.navPaletteContent ul li a span *, .isUltra div.navPaletteContent ul li a span * {
    background-color: black !important;
    background: black !important;
} */

div.navPaletteContent ul li a span * {
    background-color: black !important;
}

.isUltra div.navPaletteContent ul li a span:hover {
    text-decoration: underline;
   transition: all 0.5s ease-in-out;
   transform: scale(1.02);
}

/* .isUltra #menuWrap div {
    background-color: black !important;
} */

/* .clearfix span, .clearfix a {
    background-color: black !important;
}

#courseMenuPalette a {
    background-color: black !important;
} */

#puller {
    background-color: var(--purple) !important;
}

#puller a {
    background-color: var(--purple) !important;
}

#puller a:hover {
    background-color: var(--greeny) !important;
}

/* Individual page */
.individualContent-link span {
    color: white !important;
}

li.clearfix div.details span, .item.clearfix h3 span {
    /* color: var(--lightpurple) !important;
    font-weight: 800 !important; */
    font-size: 16px !important;
    background-color: none !important;
    color: white !important;
    font-weight: 400 !important;
}

li.clearfix h3.item,  .announcementList .item, .announcementList-read .item, #announcementList .item {
    font-size: 20px !important;
    color: #b8ddff !important;
    background-color: none !important;
}

.announcementInfo p {
    color: var(--greeny) !important;
}

.localViewToggle ul {
    background-color: #91036e !important;
}

.localViewToggle a.active, #annFilter1Id a.active, ul.clearfix li.active a.active{
    background-color: var(--bg) !important;
    border: none !important;    
}

#annFilter1Id a, ul.clearfix li a {
    background-color: black !important;
    color: lightblue !important;
    text-decoration: underline !important;
}

.localViewToggle a {
    font-size: 100% !important;
    color: lightblue !important;
    text-decoration: underline !important;
}

.localViewToggle a, .localViewToggle a.active {
    border-radius: 0 !important;
}

/* Grades tab */
#grades_wrapper div {
    color: var(--fg);
}

.gradeTableNew .calculatedRow.row, .gradeTableNew .calculatedRow.row {
    border: none;
    box-shadow: none !important;
}

.gradeTableNew .calculatedRow.row:hover {
    background-color: black;
}

.eval-links .genericButton, .eval-links .button-4, .eval-links input[type="button"].genericButton {
    padding: 8px !important;
    border-radius: 10px;
    background-color: var(--bg) !important;
    border: none !important;
    color: var(--fg) !important;    
    margin-top: 10px;;
}


/* All courses tabs */
.base-courses .multi-column-view .course-org-list .favorites-group .element-card .element-details.summary .status-bar .basic-info {
    height: unset !important;
}

/* BBCollab */
/* .item-list__item-details > span, #siteWrap {
    font-family: "Poppins" !important;
    background-color: var(--bbdark) !important;
}

.item-list__item, .item-list__item {
    background-color: var(--bbdark) !important;
}

.item-list__item--active .item-list__item-details .name {
    color: black !important;
} */

/* Grades */
.gradeTableNew .row:hover {
    background-color: var(--bg) !important;
    border-right: unset;
    border-left: unset;
}

.gradeTableNew .row {
    border: 1px solid var(--bbdark) !important;
}